html, body {
  width: 100%;
  overflow-x: hidden;
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
.menu {
  display: block;
  margin: 5px 5px 5px 5px;
  position: relative;
  width: 200px;
  float: left;

}
.menu:hover, .menu li:hover{
  background-color: rgb(56, 206, 94);
}
.menu > li > a {
  background: #3468ca6b;
  color: #fff;
  display: block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

.menu ul {
  background: rgba(82, 78, 78, 0.586);
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: all;
  top: 35px;
  width: 100%;
}

.menu li:hover ul {
  height: 100px;
  opacity: 1;
  transform: translateY(0);
}

.menu ul a {
  color: rgb(236, 225, 225);
  display: block;
  padding: 5px 20px;
  text-decoration: none;
}
/* .menu ul a:hover{
  color:#fe1919
} */
button {
  font-family: ui-sans-serif, sysetm-ui, sans-serif;
  margin: 10px 10px 10px 10px;
  width:8rem;
  border-radius: 40px;
  max-width: 60rem;
  background-color: rgba(52, 104, 202, 0.419);
  border: 2px solid #040404a8;
  color: #FFF;
  display: inline-block;
  margin-block-end: 0.5rem;
  padding: 1rem;
}
.control{
  float: right;
}
button:hover{
background-color: #1bddee;
}
#solar-system, #lunar-eclipse{
  float:left;
  }
#solar-system a, #lunar-eclipse a{
  color:#ffff;
  text-decoration: none;
  }
.load{
width: 100%;
height: 100%;
background: rgb(131, 168, 216);
position: fixed;
top: 0;
left: 0;
z-index: 100000000000;
display: block;
overflow: hidden;
}
.load img{
position: absolute; 
top: 50%;
left: 50%;
}


/* solar eclipse   */
.universe-solar {
  width:100vw;
  height: 100vh;
  background: rgb(180, 197, 236);
  display: block;
  position: relative;
  animation: skyDim 21s linear infinite;
}

@keyframes skyDim {
  0%, 100% {
    background: rgb(187, 205, 245);
  }
  50% {
    background: #000;
  }
}

.universe-solar:before {
    content: "";
    box-shadow: 
      10vw 1vh #fff,
      14vw 29vh 2px #FFF,
      23vw 34vh 1px #FFF,
      1vw 99vh 1px #FFF,
      20vw 80vh #FFF,
      90vw 10vh 2px #fff,
      55vw 9vh #FFF,
      24vw 4vh 1px #FFF,
      50vw 99vh 1px #FFF,
      74vw 40vh 1px #FFF,
      80vw 9vh 1px #FFF,
      20vw 80vh #FFF,
      85vw 78vh #fff;
    width: 4px;
    height: 4px;
    position: absolute;
    border-radius: 50%;
}

.universe-solar:after {
    content: "";
    box-shadow: 
      37vw 78vh #fff,
      17vw 69vh #FFF,
      68vw 4vh 1px #FFF,
      98vw 9vh 1px #FFF,
      45vw 67vh #FFF,
      95vw 1vh 2px #fff,
      35vw 75vh 2px #FFF,
      44vw 47vh 1px #FFF,
      54vw 5vh 1px #FFF,
      22vw 29vh 1px #FFF,
      39vw 71vh 1px #FFF,
      11vw 11vh #FFF,
      88vw 82vh #fff;
    width: 2px;
    height: 2px;
    position: absolute;
    border-radius: 50%;
}
.sun-solar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  float: right;
  background: #ffd700;
  box-shadow: 0 0 60px #ffd700, 0 0 100px #b9a018, inset 0 5px 35px 53px #ffd700, inset 48px 8px 34px 25px #ffd700;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  position: absolute;
  animation: sunFreakOut 21s linear infinite;
}


@keyframes sunFreakOut {
0%, 100% {
  box-shadow: 0 0 60px gold, 0 0 100px #b9a018, inset 0 5px 35px 53px #ffd700, inset 48px 8px 34px 25px #ffd700;
}
50% {
  box-shadow: 0 0 50px #e30000, 0 0 0px #b91818, inset 0 5px 35px 53px #ffd700, inset 48px 8px 34px 25px #ffd700;
}
}
.moon-solar {
  height: 50px;
  width: 50px;
  float: right;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.99);
  box-shadow: inset 5px 1px 10px -8px #d4d4d6;
  transition: 1s;
  top: calc(40% - 100px);
  position: absolute;
  z-index: 5;
  animation: Move ease-in-out infinite;
  animation-duration: 21s;
  background-image:  url("../img/moon.png");
  background-color: rgba(0, 0, 0, 0.463);
}


@keyframes Move {
0% {transform: translateX(100vw);}
40%, 60% {
  top: calc(50% - 100px);
}
50%, 50.5% { 
  width: 200px;
  height: 200px;
  transform: translateX(calc(50vw - 100px));
  box-shadow: inset 20px 1px 35px -15px #d4d4d6;
  top: calc(50% - 100px);
}
60% {
  box-shadow: inset -20px 1px 35px -15px #d4d4d6;      
}
80% {
}
100% {
  width: 50px;
  height: 50px;
  transform: translateX(calc(-1vw - 60px));
  top: calc(40% - 100px);
  box-shadow: inset -5px 1px 10px -8px #d4d4d6;      
  
}
}

/*info*/

.sun-solar dl.infos {
  position: absolute;
  padding-left: 50%;
  display: block;
  /* opacity: 1; */
  transform: rotateX(0deg);
  width: 0px;
  height: 75px;
  left: 189px;
  bottom: 182px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  transform-style: preserve-3d;
  transform: skew(-35deg, 0deg);
  box-shadow: inset 1px 1px black;
}

.sun-solar dl.infos dt {
  position: absolute;
  left: 10px;
  margin-bottom: 15px;
  bottom: 65px;
  color: #FFF;
  font-size: 17px;
  text-shadow: 1px 1px 2px black;
  transform: skew( 35deg, 0deg);
}

.moon-solar dl.infos {
  position: absolute;
  padding-left: 50%;
  display: block;
  /* opacity: 1; */
  transform: rotateX(0deg);
  width: 0px;
  height: 44%;
  left: 100%;
  bottom: -30%;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  transform-style: preserve-3d;
  transform: skew(35deg, 0deg);
  box-shadow: inset 1px -1px black;
}

.moon-solar dl.infos dt {
  position: absolute;
  left: 55%;
  margin-bottom: -70%;
  bottom: 90%;
  background-color: initial;
  color: #FFF;
  font-size: 17px;
  text-shadow: 1px 1px 2px black;
  transform: skew( -35deg, 0deg);
}
/* Zoom */
#circle {
float:left;
background: #000;
border-radius: 50%;
margin: 1% ;
}
.container {
  font-size: 40%;
  width: 40em;
  height: 40em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sun {
  position: absolute;
  width: 10em;
  height: 10em;
  background: linear-gradient(#fcd670, #f2784b);
  border-radius: 50%;
  box-shadow: 0 0 8px 8px rgba(242, 120, 75, 0.2);
}

.earth {
  --diameter: 30;
  --duration: 36.5;
}

.moon {
  --diameter: 8;
  --duration: 2.7;
  top: 0.3em;
  right: 0.3em;
}

.earth,
.moon {
  position: absolute;
  width: calc(var(--diameter) * 1em);
  height: calc(var(--diameter) * 1em);
  border-width: 0.1em;
  border-style: solid solid none none;
  border-color: silver transparent transparent transparent;
  border-radius: 50%;
  animation: orbit linear infinite;
  animation-duration: calc(var(--duration) * 1s);
}

@keyframes orbit {
  to {
      transform: rotate(1turn);
  }
}

.earth::before {
  --diameter: 3;
  --color: linear-gradient(#19b5fe, #7befb2);
  --top: 2.8;
  --right: 2.8;
}

.moon::before {
  --diameter: 1.2;
  --color: linear-gradient(#8d6e63, #ffe0b2);
  --top: 0.8;
  --right: 0.2;
}

.earth::before,
.moon::before {
  content: "";
  position: absolute;
  width: calc(var(--diameter) * 1em);
  height: calc(var(--diameter) * 1em);
  background: var(--color);
  border-radius: 50%;
  top: calc(var(--top) * 1em);
  right: calc(var(--right) * 1em);
}
